<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
   
    <%= f.text_field :title, placeholder: "Blog Entry Title", class: "form-control" %>
  </div>
  <div class="form-group">

    <%= f.text_field :author, placeholder: "Who's writing this?", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :blog_entry, placeholder: "What's on your mind?", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "So it is said...", class: "btn btn-primary" %>
  </div>
<% end %>
