<h1>Chose a Color!</h1>


<% if !@name.nil? %>
	<h2>Welcome Back <%= @name %>!</h2>
<% end %>	

<p>
	<%= link_to "Red", about_path(color: "red") %>
</p>

<!-- This is saying the same thing as below: -->
<!-- <a href="http://localhost:3000/about" style="color: red"> Red</a> -->
<p>
    <%= link_to "Blue", about_path(color: "blue") %>
</p>

<p>
    <%= link_to "Green", about_path(color: "green") %>
</p>

<p>
    <%= link_to "Yellow", about_path(color: "yellow") %>
</p>


